:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --accent: #5FD068;
    --background: #ffffff;
    --text: #444444;
  }
  

body {
    min-height: 100vh;
    max-width: 400px;
    background-color: papayawhip; 
    margin: 0 auto;
}
  
a, u {
    text-decoration: none;
  }

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    /* background-color: var(--background); */
    /* background-color: blue; */
  }
  
  .navbar .pages {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex: 6 auto;
    order: 2;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  
  .navbar .pages li {
    color: var(--text);
    display: block;
    padding: 0px 1em;
  }

  .navbar .pages li a {
    color: var(--text);
    display: block;
    padding: 13px 0px;
  }
  
  .navbar .socials-list {
    display: flex;
    justify-content: center ;
    list-style-type: none;
    flex: 1 auto;
    order: 2;
    margin: 0;
    padding: 0;
  }
  
  .navbar .socials-list li {
    color: var(--text);
    display: inline-block;
    padding: 10px 5px;
  }

  @media screen and (max-width: 600px) {
    .navbar {
      /* flex-direction: column; */
      display: block;
    }

    .navbar .pages {
      display: inline-block;
    }

    .navbar .socials-list {
      justify-content: right;
    }
  }

  .main-container {
    margin: 0;
    width: 100%;
    height: 90vh;
  }